.sc-bdfBwQ {
  display: none;
}

.bg {
  position: relative;
}

.spinStatic {
  width: 2.17639vw;
  height: 3.35972vw;
  position: absolute;
  right: 8.53056vw;
  top: 8.13056vw;
  z-index: 10;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.spinStatic img,
.circleRing img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.circleRing {
    height: 23.56111vw;
    left: 5.40278vw;
    position: absolute;
    top: 5.30278vw;
    width: 23.56111vw;
    z-index: 9;
}




@media screen and (max-width: 500px) {
  .modal-window {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    padding-bottom: 3.47222vw;
  }
  .modal-window > #centerBg {
    margin: 0;
    padding: 2.77778vw;
  }
  .modal-window .sc-gsTCUz {
    width: 50vw;
    height: 50vw;
  }
  .modal-window .modal-header {
      font-size: 3.66667vw;
      line-height: 4.91667vw;
      margin-bottom: 1.38889vw;
  }
  .modal-window .win-msg {
    font-size: 3.25vw;
    line-height: 4.43056vw;
    margin-top: 1.38889vw;
    padding: 0 5.08333vw;
  }
  .modal-window .button2 {
    margin-top: 8.08333vw;
    padding: 1.625vw 6.08333vw;
    font-size: 3.5vw;
  }
  .modal-window .winning-text {
    margin-top: 4.86111vw;
  }
  .spinStatic {
      height: 5.98611vw;
      right: 17.50278vw;
      top: 9.56111vw;
      width: 3.875vw;
  }
  .circleRing {
      height: 49.36111vw; 
      left: 10.11944vw;
      top: 2.91667vw;
      width: 49.36111vw;
  }
  .ReactModal__Content {
    height: 90%;
    overflow: hidden;
    padding-top: 2.08333vw;
  }
}
