.header {
  width: 100%;
  height: 6.94444vw;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.header_w {
  width: 100%;
  height: 100%;
  padding: 2.36111vw 10.41667vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: unset;
  align-content: unset;
}

.header_logo {
  width: 15.90278vw;
  height: 2.25208vw;
}

.header_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: unset;
  align-content: unset;
  gap: 7.63889vw;
}

.nav ul span {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 1.38889vw;
  line-height: 2.01389vw;
  color: #FFFFFF;
}

.nav ul span:hover {
  color: #D00374;
}

.header_burger {
  display: none;
}



@media screen and (max-width: 500px) {
  .header {
    width: 100%;
    height: 16.66667vw;
  }
  .header_w {
    width: 100%;
    height: 100%;
    padding: 1.38889vw 2.77778vw;
  }
  .header_logo {
    width: 36.11111vw;
    height: 9.00833vw;
  }
  .header_logo img {
    width: 100%;
    height: 100%;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1000vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 27.77778vw;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5.55556vw;
  }
  .nav ul span {
    font-size: 5vw;
    line-height: 5vw;
  }
  .header_burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 11.11111vw;
    height: 8.33333vw;
    z-index: 21;
  }
  .header_burger.close svg {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header_burger div {
    width: 100%;
    height: 0.83333vw;
    background-color: #fff;
    border-radius: 0.41667vw;
  }
  .show {
    visibility: visible;
    opacity: 1;
  }
  .displayNone {
    display: none;
  }
}
