.roadMap_w {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6.28055vw;
}

.roadMap_w > .title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 900;
  font-size: 1.94445vw;
  line-height: 2.81945vw;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6.5625vw;
}

.roadMap_w > .title span {
  color: #D00374;
}

.roadMap_container {
  width: 67.8125vw;
  height: 25.90972vw;
  margin: 0 auto;
  position: relative;
}

.roadMap_oneItem {
  width: 22.84722vw;
  height: 11.71528vw;
  position: absolute;
}

.roadMap_Item_img {
  width: 9.72222vw;
  height: 9.72222vw;
}

.roadMap_Item_img img {
  width: 100%;
  height: auto;
}

.roadMap_content {
  width: 18.13195vw;
  position: absolute;
  top: 1.11805vw;
  left: 4.66667vw;
}

.roadMap_content h4 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 3.11111vw;
  line-height: 4.47222vw;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
}

.roadMap_content h5 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 1.36111vw;
  line-height: 1.94445vw;
  text-align: left;
  color: #FFFFFF;
}

.roadMap_content p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.40972vw;
  color: #C8C8C8;
}

.Item1 {
  top: 0;
  left: 0;
}

.Item2 {
  top: 12.15278vw;
  left: 14.58333vw;
}

.Item3 {
  top: 0;
  left: 33.29861vw;
}

.Item4 {
  top: 12.15278vw;
  left: 46.52083vw;
}

.roadMap_lineImg1,
.roadMap_lineImg2,
.roadMap_lineImg3 {
  position: absolute;
  width: 13.125vw;
}

.roadMap_lineImg3 {
  width: 8.75vw;
}

.roadMap_lineImg1 img,
.roadMap_lineImg2 img,
.roadMap_lineImg3 img {
  width: 100%;
  height: auto;
}

.roadMap_lineImg1 {
  bottom: 7.77778vw;
  left: 3.69445vw;
}

.roadMap_lineImg2 {
  bottom: 10.69445vw;
  left: 23.33333vw;
}

.roadMap_lineImg3 {
  bottom: 10.64583vw;
  left: 39.71528vw;
}



@media screen and (max-width: 500px) {
  .roadMap_w {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 25.27778vw;
  }
  .roadMap_w > .title {
    font-size: 5.77778vw;
    line-height: 11.27778vw;
    margin-bottom: 11.66667vw;
  }
  .roadMap_container {
    width: 100%;
    height: 116.66667vw;
  }
  .roadMap_oneItem {
    width: 51.52778vw;
    height: 27.41667vw;
  }
  .roadMap_Item_img {
    width: 23.33333vw;
    height: 23.33333vw;
  }
  .roadMap_Item_img img {
    width: 100%;
    height: auto;
  }
  .roadMap_content {
    width: 38.88889vw;
    top: 4.47222vw;
    left: 11.66667vw;
  }
  .roadMap_content h4 {
    font-size: 6.61111vw;
    line-height: 8.16667vw;
  }
  .roadMap_content h5 {
    font-size: 2.91667vw;
    line-height: 3.88889vw;
  }
  .roadMap_content p {
    font-size: 1.94445vw;
    line-height: 2.91667vw;
  }
  .Item1 {
    top: 0;
    left: 35vw;
  }
  .Item2 {
    top: 29.75vw;
    left: 12.83333vw;
  }
  .Item3 {
    top: 60.08333vw;
    left: 41.80555vw;
  }
  .Item4 {
    top: 84.19445vw;
    left: 17.88889vw;
  }
  .roadMap_lineImg1,
  .roadMap_lineImg2,
  .roadMap_lineImg3 {
    position: absolute;
    width: 27.22222vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .roadMap_lineImg3 {
    width: 19.44445vw;
  }
  .roadMap_lineImg1 {
    top: 12.25vw;
    left: 18.86111vw;
    -webkit-transform: rotate(87deg);
    transform: rotate(87deg);
  }
  .roadMap_lineImg2 {
    top: 42.38889vw;
    left: 27.41667vw;
    -webkit-transform: rotate(87deg);
    transform: rotate(87deg);
  }
  .roadMap_lineImg3 {
    top: 72.72222vw;
    left: 27.80555vw;
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
}
