.topForm {
  width: 100%;
  padding: 10.9375vw 8.84722vw 0 8.84722vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: unset;
  align-content: unset;
}

.topForm_left {
  width: 52.59722vw;
  position: relative;
}

.topForm_bgCard {
  width: 18.14264vw;
  height: 27.51389vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#B50851), to(#3F153B));
  background: linear-gradient(180deg, #B50851 0%, #3F153B 100%);
  border-radius: 1.21528vw;
  position: relative;
}

.topForm_bgCard span {
  position: absolute;
  left: -9.72222vw;
  top: 12.15278vw;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 1.84722vw;
  line-height: 2.67361vw;
  white-space: nowrap;
  text-transform: uppercase;
  background: linear-gradient(89.97deg, rgba(255, 255, 255, 0.15) 6.21%, rgba(255, 255, 255, 0.04) 108.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.topForm_left_cards {
  width: 16.17243vw;
  height: 18.18055vw;
  position: absolute;
  top: 4.66667vw;
  left: 7.34028vw;
  z-index: 3;
}

.topForm_left_cards img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.topForm_left_content {
  width: 38.88889vw;
  padding: 2.91667vw 1.45833vw 1.45833vw 1.45833vw;
  background: linear-gradient(92.88deg, #0E2F4D -13.47%, #141620 89.51%);
  -webkit-box-shadow: -0.58333vw -0.34028vw 1.11805vw rgba(0, 0, 0, 0.25);
  box-shadow: -0.58333vw -0.34028vw 1.11805vw rgba(0, 0, 0, 0.25);
  border-radius: 0.68055vw;
  position: absolute;
  top: 1.55555vw;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-line-pack: unset;
  align-content: unset;
}

.topForm_left_content h1 {
  width: 25.56945vw;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 900;
  font-size: 1.94445vw;
  line-height: 2.81945vw;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 2.86805vw;
}

.topForm_bottomInfo {
  width: 17.30555vw;
  text-align: center;
  margin: 1.45833vw auto;
}

.topForm_bottomInfo .top {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 1.26389vw;
  line-height: 1.84722vw;
  color: #fff;
  margin-bottom: 0.19445vw;
}

.topForm_bottomInfo .top span {
  color: #D00374;
}

.topForm_bottomInfo .bottom {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.40972vw;
  text-transform: capitalize;
  color: #BDBDBD;
}

.bottomLine {
  width: 100%;
  height: 0.63195vw;
  background: #8D8D8D;
  -webkit-box-shadow: -0.58333vw -0.34028vw 1.11805vw rgba(0, 0, 0, 0.25);
  box-shadow: -0.58333vw -0.34028vw 1.11805vw rgba(0, 0, 0, 0.25);
  border-radius: 0vw 0vw 1.3125vw 1.3125vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomLineLoaded {
  height: inherit;
  background: #D00374;
  -webkit-box-shadow: -0.58333vw -0.34028vw 1.11805vw rgba(0, 0, 0, 0.25);
  box-shadow: -0.58333vw -0.34028vw 1.11805vw rgba(0, 0, 0, 0.25);
  border-radius: 0vw 0vw 0vw 1.3125vw;
}

.topForm_right {
  width: 24.95139vw;
  padding: 1.45833vw 3.0625vw;
  margin-top: 1.55555vw;
  background: -webkit-gradient(linear, right top, left top, color-stop(2.09%, rgba(15, 44, 71, 0.75)), to(#141620));
  background: linear-gradient(270deg, rgba(15, 44, 71, 0.75) 2.09%, #141620 100%);
  border-radius: 0.68055vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: unset;
  align-content: unset;
}

.topForm_right h3 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 900;
  font-size: 1.94445vw;
  line-height: 2.81945vw;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1.45833vw;
}

.topForm_form {
  width: 100%;
}

.topForm_form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: unset;
  align-content: unset;
  gap: 1.45833vw;
}

.topForm_form form select,
.topForm_form form input {
  width: 100%;
  height: 3.14445vw;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 0.04861vw solid #FFFFFF;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 0.97222vw;
  line-height: 1.40972vw;
  color: #fff;
}



.topForm_form form input::-webkit-input-placeholder {
  color: #8F8F8F;
}

.topForm_form form input:-ms-input-placeholder {
  color: #8F8F8F;
}

.topForm_form form input::-ms-input-placeholder {
  color: #8F8F8F;
}

.topForm_form form input::placeholder {
  color: #8F8F8F;
}

.topForm_form form button {
  white-space: nowrap;
}

.topForm_inputArrow {
  width: 0.58333vw;
  height: 0.29167vw;
  display: none;
}

.topForm_inputArrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.productFormLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.productFormLeft > label {
  margin-bottom: 0.48611vw;
  color: gray;
}

.productFormLeft > input {
  margin-bottom: 0.48611vw;
  border: none;
  padding: 0.24305vw;
  border-bottom: 0.04861vw solid gray;
}

.productFormLeft > select {
  margin-bottom: 0.48611vw;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 0.04861vw solid white;
  font-size: large;
}

.productFormLeft > select > option {
  position: absolute;
  color: black;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}





@media screen and (max-width: 500px) {
  .topForm {
    width: 100%;
    padding: 24.55555vw 3.88889vw 0 3.88889vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .topForm_form form select,
  .topForm_form form input {
    width: 100%;
    height: 8.77778vw;
    border-bottom: 0.06944vw solid #FFFFFF;
    font-size: 3.98889vw;
    line-height: 2.01389vw;
  }
  .topForm_left {
    width: 100%;
    position: relative;
  }
  .topForm_bgCard {
    width: 35vw;
    height: 48.61111vw;
    border-radius: 2.91667vw;
  }
  .topForm_bgCard span {
    left: -17.5vw;
    top: 21.38889vw;
    font-size: 3.30555vw;
    line-height: 6.80555vw;
  }
  .topForm_left_cards {
    width: 35vw;
    height: 35vw;
    top: 6.16667vw;
    left: 11.77778vw;
  }
  .topForm_left_content {
    width: 58.33333vw;
    padding: 5.83333vw 2.91667vw 2.91667vw 2.91667vw;
    border-radius: 1.36111vw;
    position: absolute;
    top: 3.47222vw;
    right: 0;
  }
  .topForm_left_content h1 {
    width: 48.61111vw;
    font-size: 2.91667vw;
    line-height: 4.86111vw;
    margin-bottom: 2.91667vw;
  }
  .topForm_bottomInfo {
    width: 100%;
    margin: 1.94445vw auto;
  }
  .topForm_bottomInfo .top {
    font-size: 2.91667vw;
    line-height: 2.91667vw;
    margin-bottom: 0.77778vw;
  }
  .topForm_bottomInfo .bottom {
    font-size: 1.94445vw;
    line-height: 2.91667vw;
  }
  .bottomLine {
    width: 100%;
    height: 1.36111vw;
  }
  /* .topForm_right {
    width: 80%;
    margin: 0 auto;
    padding: 2.91667vw 5.83333vw;
    margin-top: 11.66667vw;
  } */
  .topForm_right {
    /* width: 20.95139vw; */
    width: 80%;
    margin: 0 auto;
    padding: 2.91667vw 5.83333vw;
    margin-top: 11.66667vw;
    /* padding: 1.45833vw 3.0625vw;
    margin-top: 1.55555vw; */
    background: -webkit-gradient(linear, right top, left top, color-stop(2.09%, rgba(15, 44, 71, 0.75)), to(#141620));
    background: linear-gradient(270deg, rgba(15, 44, 71, 0.75) 2.09%, #141620 100%);
    border-radius: 2.68055vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: unset;
    align-content: unset;
  }
  .topForm_right h3 {
    font-size: 7.77778vw;
    line-height: 11.27778vw;
    margin-bottom: 5.83333vw;
  }
  .topForm_form {
    width: 100%;
  }
  .topForm_form .btn {
    font-size: 3.91667vw;
    line-height: 4.88889vw;
    margin-top: 5vw;
    padding: 1.54444vw 8.33333vw;
  }
}
